/* -----------------------------------------------------------------------------
 * Variables
 * -------------------------------------------------------------------------- */
 // COLOURS
$black-text: black;
$white-text: white;
$green: #1a9370;

// WIDTHS
$fullwidth: 100%;


/* -----------------------------------------------------------------------------
 * Base Styles
 * -------------------------------------------------------------------------- */

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

body {
	font-family: 'Titillium Web', sans-serif;
	font-size: 18px;
	margin: 0;
	padding: 0;
}

h1 {
	color: $black-text;
	font-weight:700;
	font-size:2em; /* 32px */
	line-height:1;
}

h2 {
	color: #1845c2;
	font-size:1.625em; /* 26px */
	font-weight:400;
	line-height:1.1;
	margin:0;
}

h3 {
	color: #1845c2;
	font-size:1.500em; /* 24px */
	font-weight:400;
	line-height:1.1;
	margin:0;
}

h4 {
	color: #1845c2;
	font-size:1.300em; /* 24px */
	font-weight:400;
	line-height:1.1;
	margin:0;
}

header {
	border-top: 10px solid $green;
	display: flex;
	justify-content: space-between;
	padding: 0.7em 0 0.2em 0.5em;
}

/* === BURGER MENU ==== */
		
	#burger-menu {
		flex-basis: 10%;
	}
	
	#burger-layer-one, #burger-layer-two, #burger-layer-three {
		width: 25px;
		height: 5px;
		background: #1a936f;
		margin: 0 0 4px 0;
		transition: all 0.8s;
	}
	
	#burger-layer-three {
		margin: 0;
	}
	
/* --- END Burger Menu --- */

#hide_nav {
    display: none;
    font-weight: 700;
    font-size: 1em;
	width: $fullwidth;

	.navitem {
		display: block;
		color: #1b5664;
		text-decoration: none;
		padding: .5rem 1.5rem;

		&:hover {
			background-color: $green;
			color: $white-text;
		}
	}
}

.twitter {
	display: none;
	padding: 5rem 0 0 0;
	margin: 0 auto;
	width: 90%;
	height: 100px;
}

.social_icons {
	text-align: right;
	padding: .5rem;
	
	a .fa {
		color: #1b5664;
		font-size: 1.5rem;
		padding: 0 .2rem;
	}
}

.left-content {
    background: #c6dabf; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #c6dabf $fullwidth); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#c6dabf $fullwidth); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ffffff 0%,#c6dabf $fullwidth); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c6dabf',GradientType=0 ); /* IE6-9 */
    flex-basis: 25%;
    }

.right-content {
    flex-basis: 75%;
}

.desktoplogo {
    display: none;
}

.logo {
	flex-basis: 70%;
	
	img {
		width: $fullwidth;
	}
}

.hero  {
    background: url(/images/hero1.jpg) no-repeat center;
    background-size: cover;
    height: 40em;
}

.hero-events {
	background: url(/images/events-hero.jpg) no-repeat center;
    background-size: cover;
    height: 20em;
}

.hero-contact {
	background: url(/images/contact-hero.jpg) no-repeat center;
    background-size: cover;
    height: 20em;
}

.image-container {

	img {
		width: 70%;
	}
}

.groups {
	background-color: #c6dabf;
	padding: 1.5rem 2rem;
	text-align:left;
	margin-bottom: 1rem;

}

.group-list {
	list-style-type: none;
	padding: 0;

	a {
		color: $black-text;

		&:hover { 
			color: $green;
			font-weight:bold;
		}
	}
}

.contact-details {
	@extend .group-list;

}


/* ----- Wrappers ------ */
.content-container {
	margin: 0 auto;
    text-align: center;
	width: 90%;
}

/* === CONTACT FORM ==== */
/*
.contactform {
	font-family: 'Titillium Web', sans-serif;
  	width: 90%;
	
	label {
		margin-bottom: 10px;
		display: block;
	}
}

input[type="text"], [type="email"] {
  		border: 1px solid #AFAFAF;
  		display: block;
  		height: 35px;
  		padding: 1%;
  		outline: none;
  		width: 99%;
}

input[type="submit"] {
  		border: 0;
}*/

#comments {
  		border: 1px solid #AFAFAF;
  		display: block;
		height: 150px;
		padding: 1%;
		margin-bottom: 3%;
		outline: none;
		width: 99%;
}

/* ----- FOOTER STYLES ----- */

footer {
	color: #114b5f;
	font-size: 12px;
    text-align: center;
    padding: 5em;
}

/* DESKTOP CODE */
@media screen and (min-width: 768px) {
    
    .page_wrapper {
        position: relative;
    }
    
    header {
	padding: 0;
    position: fixed;
    width: $fullwidth;
    z-index: 1;
    }
    
    .logo {
        display: none;
    }
    
    .desktoplogo {
	    display: block;
	    padding: 1em 2em 1em 2em;
	    width: $fullwidth;
	    
	    img {
	        width: $fullwidth;
	    }
    }

    .twitter {
	display: block;
	}
    
    .outer-container {
        display:flex;
    }
    
	#burger-menu {
	display: none;
	}
    
    #hide_nav {
    display: block;
    font-size: 1.2em;

	    .navitem {
			text-align: left;
			padding: .5rem 3rem;
		}
    }

    .social_icons {
	text-align: center;
	padding: 1.5rem 0 0 0;
	
		a .fa {
			font-size: 1.8rem;
			padding: 0 .5rem;
		}
	}

	.image-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	
		img {
			width: 30%;
		}
	}
    
}