<footer>
	Contact us by Email: <a href="mailto:NhantsCosplayUK@gmail.com">NhantsCosplayUK@gmail.com</a><br/>
	Facebook Group: <a href="http://www.facebook.com/groups/NorthamptonCosplayersUK" target="_blank">facebook.com/groups/NorthamptonCosplayersUK</a><br/>
	<hr>
    Copyright &copy; 2016 Nhantscosplay. Disclaimer - All images belong to their rightful owners.<br/>
    Website designed and built by <a href="http://www.aimee-tacchi.co.uk" target="_blank">Aimee Tacchi Web Design</a>
</footer>
        </div><!-- end of right-content -->
    </div> <!-- end of outer-container -->
</div> <!--end of page wrapper -->
	
	<!-- jQuery library -->
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script>
		$(".burger-menu").click(function(){
				$(this).toggleClass('active');
			 	$(".nav-items").toggle();

		});
	</script>
	<!-- Add fancyBox -->
	<link rel="stylesheet" href="source/jquery.fancybox.css" media="screen" />

	<script type="text/javascript" src="source/jquery.fancybox.pack.js"></script>
	<!-- Add fancyBox -->
	<script>
		$(document).ready(function() {
			$(".fancybox").fancybox();
		});
	</script>
</body>
</html>