@@include('_header.html', { "pageTitle": "Need to get in touch with us?" }) 
<div class="right-content">
<div class="hero-contact"></div>
	<div class="content-container">
		<h1>Contact us</h1>
		<p>If you have enquires about Nhants and want some more information on a event please just send us a email. I'll get back to you asap.</p>
		<p>Contact me at <a href="mailto:andrew@email.co.uk">andrew@email.co.uk</a>
		
		<p>You can also contact us on social media</p>
		<ul class="contact-details">
			<li><a href="https://www.facebook.com/groups/NorthamptonCosplayersUK">Join our Facebook Group</a></li>
	        <li><a href="https://goo.gl/28Pfm">Google Plus</a></li>
	        <li><a href="https://twitter.com/nhantscosplayuk">Follow us on Twitter</a></li>
	        <li><a href="http://www.facebook.com/Nhantscosplaymeets">Like us on Facebook</a></li>
        </ul>
	</div>
  @@include('_footer.html')