@@include('_header.html')
<div class="right-content">
	<div class="content-container">
		<p>If you have enquires about Nhants and want some more information on a event please just send us a email. I'll get back to you asap.</p>
		<p>Contact me at <a href="mailto:andrew@email.co.uk">andrew@email.co.uk</a>

		<p>You can also contact us on social media</p>
		<p><a href="https://www.facebook.com/groups/NorthamptonCosplayersUK">Join our Facebook Group</a><br>
        <a href="https://goo.gl/28Pfm">Google Plus</a><br>
        <a href="https://twitter.com/nhantscosplayuk">Follow us on Twitter</a><br>
        <a href="http://www.facebook.com/Nhantscosplaymeets">Like us on Facebook</a></p>
	    
	</div>
  @@include('_footer.html')