@@include('_header.html', { "pageTitle": "Events" })
<div class="right-content">
	<div class="hero-events"></div>
	<div class="content-container">
		<h1>Events</h1>

		<p>Here is a list of event / social activity groups in local nearby  locations that may interest you or a friend.</p>
		<main>
			<div class="left-main">
				<div class="groups">
					<h4>Northampton Groups</h4>
					<ul class="group-list">
						<li><a href="https://www.facebook.com/groups/221516981292163/" target="_blank">Northampton Cosplayers UK</a></li>
						<li><a href="https://www.facebook.com/Northamptonshire-Cosplay-Walk-1462322640668762/" target="_blank">Northampton Cosplay Walk(charity walk)</a></li>
						<li><a href="http://www.ablels.com/" target="_blank">Able Language Services - learn a language service</a></li>
						<li><a href="https://www.facebook.com/groups/116523345184861/" target="_blank">Anime Lovers Northampton</a></li>
						<li><a href="https://www.facebook.com/groups/ussnaseby/" target="_blank">USS Naseby (Sci-fi Group)</a></li>
						<li><a href="https://www.facebook.com/UonAnimeSociety/" target="_blank">University of Northampton Anime Society</a></li>
						<li><a href="https://www.facebook.com/lbarchery" target="_blank">Long Buckby Archery Club - archery practice</a></li>
					</ul>
				</div>

				<div class="groups">
					<h4>Out of Town Groups</h4>
					<ul class="group-list">
						<li><a href="https://www.facebook.com/groups/mkfurs/" target="_blank">MK Furs</a></li>
						<li><a href="https://www.facebook.com/groups/169606453185834/" target="_blank">The Dark Adept (LARP group)</a></li>
						<li><a href="http://www.silver-sabres.com/" target="_blank">Silver Sabers - safe martial art combat with props (lights sabers)</a></li>
						<li><a href="https://www.facebook.com/groups/186175754749668/" target="_blank">Nottingham Cosplay</a></li>
						<li><a href="http://animediaeast.webs.com/" target="_blank">AniMedia East - an anime group that hold events in East Anglia</a></li>
					</ul>
				</div>

				<div class="groups">
				<h4>Events</h4>
					<ul class="group-list">
						<li><a href="https://www.facebook.com/Northampton-Comic-Con-299067290278258/" target="_blank">Northampton Comic-Con</a></li>
						<li><a href="http://www.northamptontownfestival.com/" target="_blank">Northampton Town Festival</a></li>
						<li><a href="http://www.umbrellafair.org.uk/" target="_blank">The Umbrella Fair</a></li>
						<li><a href="https://www.facebook.com/pg/geekologyevents/events/" target="_blank">Kettering Geek Con</a></li>
						<li><a href="https://www.facebook.com/kettfest2017/" target="_blank">Kettering Town Festival (Kett Fest)</a></li>
						<li><a href="http://hibanacon.co.uk/" target="_blank">Hibanacon</a></li>
						<li><a href="https://www.facebook.com/LeightonBuzzardontheEdgeofForever/?fref=ts" target="_blank">Leighton Buzzard On The Edge Of Forever</a></li>
						<li><a href="https://www.facebook.com/lunaflixoutdoorcinema/" target="_blank">Lunaflix Outdoor Cinema</a></li>
						<li><a href="https://www.alltheanime.com/" target="_blank">All The Anime - Anime Movies in cinemas throughout the UK</a></li>
					</ul>
				</div>

				<div class="groups">
				<h4>Find an Event / Group  Resource Pages</h4>
				<ul class="group-list">
					<li><a href="http://www.ukcosplaydirectory.co.uk/" target="_blank">U.K. Cosplay Directory</a></li>
					<li><a href="http://www.cosplayisland.co.uk/directory/events" target="_blank">Cosplay Island - Events</a></li>
					<li><a href="http://animecons.com/events/calendar.shtml" target="_blank">AnimeCons.Com</a></li>
					<li><a href="http://www.upcomingcons.com/" target="_blank">UpcomingCons.Com</a></li>
					<li><a href="http://www.animeleague.net/forum/content.php" target="_blank">AnimeLeague.Net</a></li>
					<li><a href="http://www.showmastersevents.com/" target="_blank">Showmasters</a></li>
					<li><a href="http://www.larpevents.co.uk/event/index" target="_blank">LARP Events UK</a></li>
					<li><a href="https://www.ukroleplayers.com/events/upcoming/" target="_blank">UK Roleplayers</a></li>
				</ul>
				</div>
			</div>
			<div class="right-main">
	           <img src="images/cosplayer2.jpg" alt="person in cosplay">
	           <img src="images/cosplayer7-Events.jpg" alt="Person in cosplay">
	        </div>
	    </main>
	</div>
 @@include('_footer.html')