@@include('_header.html', { "pageTitle": "Got a question, check out our FAQs" }) 
<div class="right-content">
<div class="hero-contact"></div>
	<div class="content-container">
		<h1>What is Anime/Manga?</h1>

		<p>Pronounced Anime in Japanese, but typically in English is animation originating in Japan. The world outside Japan regards anime as "Japanese animation". While the earliest known Japanese animation dates from 1917, and many original Japanese cartoons were produced in the ensuing decades, the characteristic anime style developed in the 1960s notably with the work of Osamu Tezuka and became known outside Japan in the 1980s. Anime, like manga, has a large audience in Japan and recognition throughout the world. Distributors can release anime via television broadcasts, directly to video, or theatrically, as well as online. Manga is comics, produced in Japan.</p>

		<h3>What is Cosplay?</h3>

		<p>Cosplay, short for "costume roleplay" is a type of performance art in which participants don costumes and accessories to represent a specific character or idea. Characters are often drawn from popular fiction in Japan. Favorite sources include manga, anime, video games, and fantasy movies.</p>

		<h3>What do we do at our meets?</h3>

		<p>At meets, we go to the park, cosplay and each bring along food, to share for the picnic, we normally sit around and chat, take photos, play some sports. These are only usually in the summer, since its too cold in winter.</p>

		<h3>Do you have to pay to join?</h3>

		<p>No, Nhantscosplay is a free run group, you only need money for the events we do, maybe some for food, but it doesn't cost anything to join.<p>
		<hr>
		<p>If you do have any more questions feel free to message us</p>
	</div>
 @@include('_footer.html')