@@include('_header.html', { "pageTitle": "Gallery" }) 
    <div class="right-content">
    <div class="hero-gallery"></div>

        <div class="content-container">
	        <div class="flexcontainer"> 
	        	<div class="gallery"> 
		            <h1>Gallery</h1>
					<p>Here is a record of memories since first meet in 2011. Also we promote various members links on the right side. Enjoy.</p>
					<p>If you have photos of group members we could add to gallery. Email us: <a href="mailto:NhantsCosplayUK@gmail.com">NhantsCosplayUK@Gmail.com</a></p>

					<h2>Slideshows</h2>
					<p>Large Group Photos - <a href="https://docs.google.com/presentation/d/1IYrRJfNzVvgzVisix2x4k1sXLn2Y8_ybU3c9NfZEBwo/pub?start=true&loop=true&delayms=3000">View Slideshow (40+ images)</a><br>
					Small Group / Individual Photos - <a href="https://docs.google.com/presentation/d/16teZNqmMq4_M7Kq8laarg_YHZQoTvTNq4KuK8hwxNDg/pub?start=true&loop=true&delayms=3000">View Slideshow (30+ images)</a></p>

		            <a class="fancybox" rel="group" href="images/gallery001.jpg" title="cosplaying1"><img src="images/gallery001.jpg" width="100" alt="people in cosplaying"></a>

		            <a class="fancybox" rel="group" href="images/gallery002.jpg" title="cosplaying2"><img src="images/gallery002.jpg" width="100" alt="people in cosplaying"></a>

		            <a class="fancybox" rel="group" href="images/gallery003.jpg" title="cosplaying3"><img src="images/gallery003.jpg" width="100" alt="people in cosplaying"></a>

		            <a class="fancybox" rel="group" href="images/gallery004.jpg" title="cosplaying4"><img src="images/gallery004.jpg" width="100" alt="people in cosplaying"></a>
				</div>


				<div class="gallerylinks">
					<div class="member-pages">
		            	<h2>Members pages</h2>
						<p>	Angels Delight -
							<a href="https://www.facebook.com/AngelsDelight1/" target="_blank"><i class="fa fa-facebook-official" title="facebook" aria-hidden="true"></i></a><br>

							Augmented Queen cosplay -
							<a href="https://www.facebook.com/AugmentedQueenCosplay/" target="_blank"><i class="fa fa-facebook-official" title="facebook" aria-hidden="true"></i></a><br>

							BecsyCosplay -
							<a href="https://www.facebook.com/becsycosplay/" target="_blank"><i class="fa fa-facebook-official" title="facebook" aria-hidden="true"></i></a><br>

							BlissfulBanana Cosplay -
							<a href="https://www.facebook.com/blissfulbanana" target="_blank"><i class="fa fa-facebook-official" title="facebook" aria-hidden="true"></i></a>
							<a href="http://blissfulbanana.deviantart.com/" target="_blank"><i class="fa fa-deviantart" title="deviantart" aria-hidden="true"></i></a><br>

							Cat Misa Kool Chana -
							<a href="https://www.facebook.com/catmisakoolchan/" target="_blank"><i class="fa fa-facebook-official" title="facebook" aria-hidden="true"></i></a>
							<a href="http://cutiecatmisakoolchan.deviantart.com/" target="_blank"><i class="fa fa-deviantart" title="deviantart" aria-hidden="true"></i></a><br>

							CollegeCosplay -
							<a href="https://www.facebook.com/CollegeCosplay/" target="_blank"><i class="fa fa-facebook-official" title="facebook" aria-hidden="true"></i></a><br>

							Creepycookiez Cosplay -
							<a href="https://www.facebook.com/Creepycookiez/" target="_blank"><i class="fa fa-facebook-official" title="facebook" aria-hidden="true"></i></a><br>

							Devil_gene cosplays -
							<a href="https://www.facebook.com/devilgenecosplay/" target="_blank"><i class="fa fa-facebook-official" title="facebook" aria-hidden="true"></i></a><br>

							Gemrose cosplay -
							<a href="https://www.facebook.com/GEMROSECADS/" target="_blank"><i class="fa fa-facebook-official" title="facebook" aria-hidden="true"></i></a><br>

							HuskeyNinja -
							<a href="https://www.facebook.com/HuskeyNinjaart"><i class="fa fa-facebook-official" title="facebook" aria-hidden="true"></i></a>
							<a href="http://huskeyninja.deviantart.com/" target="_blank"><i class="fa fa-deviantart" title="deviantart" aria-hidden="true"></i></a>
							<a href="https://www.instagram.com/huskeyninja/" target="_blank"><i class="fa fa-instagram" title="instagram" aria-hidden="true"></i></a><br>

							NorthamptonGuy Cosplay -
							<a href="http://fb.me/NorthamptonGuyCosplay"><i class="fa fa-facebook-official" title="facebook" aria-hidden="true"></i></a>
							<a href="http://northamptonguy.deviantart.com/" target="_blank"><i class="fa fa-deviantart" title="deviantart" aria-hidden="true"></i></a><br>

							Matt Fittes - The UK Freddy Krueger Cosplayer -
							<a href="https://www.facebook.com/ukfreddykrueger/"><i class="fa fa-facebook-official" title="facebook" aria-hidden="true"></i></a><br> 

							Queens Watchdog Cosplay -
							<a href="https://www.facebook.com/QueensWatchdogCosplay/" target="_blank"><i class="fa fa-facebook-official" title="facebook" aria-hidden="true"></i></a><br>

							SADR Legends -
							<a href="https://www.facebook.com/Sadrlegendscostume"><i class="fa fa-facebook-official" title="facebook" aria-hidden="true"></i></a>
							<a href="http://sadrlegends.deviantart.com/" target="_blank"><i class="fa fa-deviantart" title="deviantart" aria-hidden="true"></i></a><br>

							Starlight Kitty Cosplay -
							<a href="https://www.facebook.com/StarlightKittyCosplay/" target="_blank"><i class="fa fa-facebook-official" title="facebook" aria-hidden="true"></i></a><br>

							Tales of Gutsy Cosplayers -
							<a href="https://www.facebook.com/gutsycosplayer/" target="_blank"><i class="fa fa-facebook-official" title="facebook" aria-hidden="true"></i></a><br>

							White Shadow Cosplay -
							<a href="https://www.facebook.com/whiteshadowcosplay/" target="_blank"><i class="fa fa-facebook-official" title="facebook" aria-hidden="true"></i></a><br>

							Xelda the Wolf -
							<a href="https://www.facebook.com/XeldatheWolf/" target="_blank"><i class="fa fa-facebook-official" title="facebook" aria-hidden="true"></i></a><br>

							Yandere_Shadowwolf_cosplays -
							<a href="https://www.facebook.com/pg/yandereshadowwolf/" target="_blank"><i class="fa fa-facebook-official" title="facebook" aria-hidden="true"></i></a>
						</p>
					</div>
					<div class="member-pages">
						<h2>Youtube Channels</h2>
						<p>Cat Misa Kool Chan - <a href="https://www.youtube.com/channel/UC9GwLQd_UI8jsHNJ7sDBm3w" target="_blank"><i class="fa fa-youtube-square" aria-hidden="true"></i></a><br>

						<p>NorthamptonGuy - <a href="https://https://www.youtube.com/channel/UC7hwGxQVstZFkmqKOeJFF-g" target="_blank"><i class="fa fa-youtube-square" aria-hidden="true"></i></a><br>

						HuskeyNinja - <a href="http://www.youtube.com/user/huskeyninja07"><i class="fa fa-youtube-square" aria-hidden="true"></i></a><br>
						QueensWatchdogCosplay - <a href="https://www.youtube.com/channel/UChviEKinU6MsWGPp6duV0Ew" target="_blank"><i class="fa fa-youtube-square" aria-hidden="true"></i></a><br>
						Umbrella Fair - <a href="https://www.youtube.com/channel/UC6FMQj9OAUkDYumrqj1eMRw"><i class="fa fa-youtube-square" aria-hidden="true"></i></a><br>
						ChowKing982 - <a href="https://www.youtube.com/user/Chowking982" target="_blank"><i class="fa fa-youtube-square" aria-hidden="true"></i></a><br>
						BooyahNinja - <a href="https://www.youtube.com/user/TheDrummerAce" target="_blank"><i class="fa fa-youtube-square" aria-hidden="true"></i></a></p>
					</div>

					<div class="member-pages">
						<h2>Artists Links</h2>
						<p>The Cookie Club -
							<a href="https://www.facebook.com/OCcookieclub/" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true" title="facebook"></i></a>
							<a href="http://thecookieclubx.deviantart.com/" target="_blank"><i class="fa fa-deviantart" aria-hidden="true" title="deviantart"></i></a>
						</p>
					</div>

					<div class="member-pages">
						<h2>Novelists</h2>
						<p>Sonia J. Eaton -
							<a href="http://www.lulu.com/spotlight/sadrlegends" target="_blank"><i class="fa fa-book" aria-hidden="true" title="novelists"></i></a><br>
						
						Melissa A. Joy -
							<a href="http://aeldynnlore.com/" target="_blank"><i class="fa fa-book" aria-hidden="true" title="novelists"></i></a>
						</p>
					</div>
				</div>
			</div>
        </div>
@@include('_footer.html')