@@include('_header.html', { "pageTitle": "Gallery" }) 
    <div class="right-content">
    <div class="hero-contact"></div>

        <div class="content-container">
	        <div class="flexcontainer"> 
	        	<div class="gallery"> 
		            <h1>Gallery</h1>

		            <a class="fancybox" rel="group" href="images/gallery001.jpg" title="cosplaying1"><img src="images/gallery001.jpg" width="100" alt="people in cosplaying"></a>

		            <a class="fancybox" rel="group" href="images/gallery002.jpg" title="cosplaying2"><img src="images/gallery002.jpg" width="100" alt="people in cosplaying"></a>

		            <a class="fancybox" rel="group" href="images/gallery003.jpg" title="cosplaying3"><img src="images/gallery003.jpg" width="100" alt="people in cosplaying"></a>

		            <a class="fancybox" rel="group" href="images/gallery004.jpg" title="cosplaying4"><img src="images/gallery004.jpg" width="100" alt="people in cosplaying"></a>
				</div>
				<div class="gallerylinks">
		            <h2 class="margin">For more images you can visit these Members Cosplay Pages</h2>

					<p>Angels Delight -
						<a href="https://www.facebook.com/AngelsDelight1/" target="_blank"><i class="fa fa-facebook-official" title="facebook" aria-hidden="true"></i></a></p>

					<p>BlissfulBanana Cosplay -
						<a href="https://www.facebook.com/blissfulbanana" target="_blank"><i class="fa fa-facebook-official" title="facebook" aria-hidden="true"></i></a>
						<a href="http://blissfulbanana.deviantart.com/" target="_blank"><i class="fa fa-deviantart" title="deviantart" aria-hidden="true"></i></a>
					</p>

					<p>Cat Misa Kool Chana -
						<a href="https://www.facebook.com/catmisakoolchan/" target="_blank"><i class="fa fa-facebook-official" title="facebook" aria-hidden="true"></i></a>
						<a href="http://cutiecatmisakoolchan.deviantart.com/" target="_blank"><i class="fa fa-deviantart" title="deviantart" aria-hidden="true"></i></a>
					</p>

					<p>Creepycookiez Cosplay -
						<a href="https://www.facebook.com/Creepycookiez/" target="_blank"><i class="fa fa-facebook-official" title="facebook" aria-hidden="true"></i></a>
					</p>

					<p>HuskeyNinja -
						<a href="https://www.facebook.com/HuskeyNinjaart"><i class="fa fa-facebook-official" title="facebook" aria-hidden="true"></i></a>
						<a href="http://huskeyninja.deviantart.com/" target="_blank"><i class="fa fa-deviantart" title="deviantart" aria-hidden="true"></i></a>
						<a href="https://www.instagram.com/huskeyninja/" target="_blank"><i class="fa fa-instagram" title="instagram" aria-hidden="true"></i></a>
					</p>

					<p>Queens Watchdog Cosplay -
						<a href="https://www.facebook.com/QueensWatchdogCosplay/" target="_blank"><i class="fa fa-facebook-official" title="facebook" aria-hidden="true"></i></a>
					</p>

					<p>Tales of Gutsy Cosplayers -
						<a href="https://www.facebook.com/gutsycosplayer/" target="_blank"><i class="fa fa-facebook-official" title="facebook" aria-hidden="true"></i></a>
					</p>

					<h2>Youtube Channels</h2>
					<p>Cat Misa Kool Chan<br>
					HuskeyNinja<br>
					QueensWatchdogCosplay<br>
					Umbrella Fair<br>
					ChowKing982<br>
					BooyahNinja</p>

					<h2>Artists Links</h2>
					<p>The Cookie Club
						<a href="https://www.facebook.com/OCcookieclub/" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
						<a href="http://thecookieclubx.deviantart.com/" target="_blank"><i class="fa fa-deviantart" aria-hidden="true"></i></a>
					</p>
				</div>
			</div>
        </div>
@@include('_footer.html')