@@include('_header.html', { "pageTitle": "Gallery" }) 
    <div class="right-content">
    <div class="hero-contact"></div>

        <div class="content-container">
	        <div class="flexcontainer"> 
	        	<div class="gallery"> 
		            <h1>Gallery</h1>

		            <a class="fancybox" rel="group" href="images/gallery001.jpg" title="cosplaying1"><img src="images/gallery001.jpg" width="100" alt="people in cosplaying"></a>

		            <a class="fancybox" rel="group" href="images/gallery002.jpg" title="cosplaying2"><img src="images/gallery002.jpg" width="100" alt="people in cosplaying"></a>

		            <a class="fancybox" rel="group" href="images/gallery003.jpg" title="cosplaying3"><img src="images/gallery003.jpg" width="100" alt="people in cosplaying"></a>

		            <a class="fancybox" rel="group" href="images/gallery004.jpg" title="cosplaying4"><img src="images/gallery004.jpg" width="100" alt="people in cosplaying"></a>
				</div>
				<div class="gallerylinks">
		            <h2 class="margin">For more images you can visit these Members Cosplay Pages</h2>

					<p>Angels Delight -
						<a href="https://www.facebook.com/AngelsDelight1/" target="_blank"><i class="fa fa-facebook-official" title="facebook" aria-hidden="true"></i></a><br>

						BlissfulBanana Cosplay -
						<a href="https://www.facebook.com/blissfulbanana" target="_blank"><i class="fa fa-facebook-official" title="facebook" aria-hidden="true"></i></a>
						<a href="http://blissfulbanana.deviantart.com/" target="_blank"><i class="fa fa-deviantart" title="deviantart" aria-hidden="true"></i></a><br>

						Cat Misa Kool Chana -
						<a href="https://www.facebook.com/catmisakoolchan/" target="_blank"><i class="fa fa-facebook-official" title="facebook" aria-hidden="true"></i></a>
						<a href="http://cutiecatmisakoolchan.deviantart.com/" target="_blank"><i class="fa fa-deviantart" title="deviantart" aria-hidden="true"></i></a><br>

					Creepycookiez Cosplay -
						<a href="https://www.facebook.com/Creepycookiez/" target="_blank"><i class="fa fa-facebook-official" title="facebook" aria-hidden="true"></i></a><br>

					HuskeyNinja -
						<a href="https://www.facebook.com/HuskeyNinjaart"><i class="fa fa-facebook-official" title="facebook" aria-hidden="true"></i></a>
						<a href="http://huskeyninja.deviantart.com/" target="_blank"><i class="fa fa-deviantart" title="deviantart" aria-hidden="true"></i></a>
						<a href="https://www.instagram.com/huskeyninja/" target="_blank"><i class="fa fa-instagram" title="instagram" aria-hidden="true"></i></a><br>

					Queens Watchdog Cosplay -
						<a href="https://www.facebook.com/QueensWatchdogCosplay/" target="_blank"><i class="fa fa-facebook-official" title="facebook" aria-hidden="true"></i></a><br>

					Tales of Gutsy Cosplayers -
						<a href="https://www.facebook.com/gutsycosplayer/" target="_blank"><i class="fa fa-facebook-official" title="facebook" aria-hidden="true"></i></a>
					</p>

					<h2>Youtube Channels</h2>
					<p>Cat Misa Kool Chan - <a href="https://www.youtube.com/channel/UC9GwLQd_UI8jsHNJ7sDBm3w"><i class="fa fa-youtube-square" aria-hidden="true"></i></a><br>
					HuskeyNinja - <a href="http://www.youtube.com/user/huskeyninja07"><i class="fa fa-youtube-square" aria-hidden="true"></i></a><br>
					QueensWatchdogCosplay - <a href="https://www.youtube.com/channel/UChviEKinU6MsWGPp6duV0Ew"><i class="fa fa-youtube-square" aria-hidden="true"></i></a><br>
					Umbrella Fair - <a href="https://www.youtube.com/channel/UC6FMQj9OAUkDYumrqj1eMRw"><i class="fa fa-youtube-square" aria-hidden="true"></i></a><br>
					ChowKing982 - <a href="https://www.youtube.com/user/Chowking982"><i class="fa fa-youtube-square" aria-hidden="true"></i></a><br>
					BooyahNinja - <a href="https://www.youtube.com/user/TheDrummerAce"><i class="fa fa-youtube-square" aria-hidden="true"></i></a></p>

					<h2>Artists Links</h2>
					<p>The Cookie Club -
						<a href="https://www.facebook.com/OCcookieclub/" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true" title="facebook"></i></a>
						<a href="http://thecookieclubx.deviantart.com/" target="_blank"><i class="fa fa-deviantart" aria-hidden="true" title="deviantart"></i></a>
					</p>
				</div>
			</div>
        </div>
@@include('_footer.html')