@@include('_header.html', { "pageTitle": "NhantsCosplay, cosplay meets in Northampton" })  
   <div class="right-content">
            <div class="hero">
                <div class="hero-content">
                    <h1>Welcome to N'hants Cosplay Meets</h1>
                    <h2>Meeting six or more times a year in the town of Northampton, England.</h2>
                </div>
            </div>
            <div class="content-container">
                <main>
                    <div class="left-main">
                        <p>N'hants Cosplay Meets is a Fan-based non-profiting meeting group for those who enjoy the culture popularised by Otaku, Geek, Gaming Community (Fans of Anime, Manga, Comic, Fantasy, Fiction, Sci-fi, Horror, J-Pop, Japanese Culture, Consoles, Animation, Cartoons, Roleplay, Videogames, and Costumes) to socialise with like minded people.</p>
                        
                        <p>Giving attendees the chance to talk about their favourite Characters, Shows, Series, Costume, Prop Projects, Games, Future and Past Expo and Convention Events, Take Photos, Play Games, Listen to Music, Hangout and have fun.</p>

                        <p>Since its first meeting October 2011 the group is friendly. Many Members act towards others as if they are family. Various ages 13+ attend meetings often. Please always act appropriately in a sensible way when with members. If a person breaches a meeting <a href="faq.html">rule</a> or if a drama situation occurs. Persons involved will be asked to leave.</p>

                        <p>We are happy to Promote other groups and events in the area. Ours members have been present at many including Northampton Comic Con, Northampton Town Festival, Kettering Comic Con and the Umbrella Fair.</p>

                        <p>If you live in Northamptonshire, Surrounding area or even further. Come join us. Follow our  <a href="http://www.facebook.com/Nhantscosplaymeets">Facebook page</a> and <a href="https://www.facebook.com/groups/NorthamptonCosplayersUK">Group</a> to keep updated about future meets or if you are involved in planning an event or group tell us about it</p>
                    </div>
                    <div class="right-main">
                            <img src="" alt="">
                    </div>
                </main>

                <div class="image-container">
                    <img src="images/CosplayNOTConsent.jpg" alt="CosplayNOTConsent">
                    <img src="images/i-cosplay-2.jpg" alt="i-cosplay">
                    <img src="images/lovparks.jpg" alt="Love Parks">
                </div>
            </div>
  @@include('_footer.html')