  @@include('_header.html')  
   <div class="right-content">
            <div class="hero"></div>
            <div class="content-container">
                <main>
                    <h1>Anime &amp; Cosplay meets in Northampton</h1>
                     <p>Welcome to N'hants Cosplay (Jan 2017)
                    Meeting six or times a year in the town of Northampton, England.</p>

                    <p>N'hants cosplay is a Fan-based non-profiting meeting group for those who enjoy the culture popularised by Otaku, Geek, Gaming Community (Fans of Anime, Manga, Comic, Fantasy, Fiction, Sci-fi, Horror, J-Pop, Japanese Culture, Consoles, Animation, Cartons, Roleplay, Videogames, and Costumes). To socialise with like minded people.</p>
                    
                    <p>Giving attendees the chance to talk about their favourite Characters, Shows, Series, Costume, Prop Projects, Games, Future and Past Expo and Convention Events, Take Photos, Play Games, Listen to Music, Hangout and have fun.</p>

                    <p>Since its first meeting October 2011 the group is friendly. Many Members act towards others as if they are family. Various ages 13+ attend meetings often. Please always act appropriately in a sensible way when with members. If a person breaches a rule [link FAQ] or if a drama situation occurs. Persons involved will be asked to leave.</p>

                    <p>We are happy to Promote other groups and events in the area. Ours members have been present at many including Northampton Comic Con, Northampton Town Festival, Kettering Comic Con and the Umbrella Fair.</p>

                    <p>If you live in Northamptonshire, Surrounding area or even further. Come join us.</p>
                    
                    <p>Follow are Facebook page[link] and Group[link] to keep updated about future meets or if you are involved in planing an event or group tell us about it.</p>

                    <p>Box of Twitter updates - similar to Animedia East Webpage</p>
                    
                    <p><a href="https://www.facebook.com/groups/NorthamptonCosplayersUK">Join our Facebook Group</a><br>
                    <a href="https://goo.gl/28Pfm">Google Plus</a><br>
                        <a href="https://twitter.com/nhantscosplayuk">Follow us on Twitter</a><br>
                    <a href="http://www.facebook.com/Nhantscosplaymeets">Like us on Facebook</a></p>
                </main>
            </div>
  @@include('_footer.html')