@@include('_header.html', { "pageTitle": "Need to get in touch with us?" }) 
<div class="right-content">
<div class="hero-contact"></div>
	<div class="content-container">
		<h1>Meet Locations</h1>

		<p>Here is a map of our meetup locations in Northampton.
		Some meet locations have an additional map showing nearby utilities in description.</p>

		<p>If you want to tell us of an event that is happening somewhere, suggest a new meet location or have any enquires about Nhantscosplay and want some more information please send us an email and we will get back to you asap. <a href="mailto:NhantsCosplayUK@gmail.com">NhantsCosplayUK@gmail.com</a></p>
		
		<iframe src="https://www.google.com/maps/d/u/0/embed?mid=1Opyw0FulevqS9JRemyhzCcuiaKs" class="iframe" height="480"></iframe>
		
		<p>You can also contact us on social media</p>
		<ul class="contact-details">
			<li><a href="https://www.facebook.com/groups/NorthamptonCosplayersUK">Join our Facebook Group</a></li>
	        <li><a href="https://goo.gl/28Pfm">Google Plus</a></li>
	        <li><a href="https://twitter.com/nhantscosplayuk">Follow us on Twitter</a></li>
	        <li><a href="http://www.facebook.com/Nhantscosplaymeets">Like us on Facebook</a></li>
        </ul>
	</div>
  @@include('_footer.html')